<div style="width: 100vw; height: 100vh">

  <vfa-slider ></vfa-slider>
</div>

<div class="edit" style="display: none;">
  <input
  [(ngModel)]="values[0]"
  (ngModelChange)="setChange()"
  type="number">
<input
  [(ngModel)]="values[1]"
  (ngModelChange)="setChange()"
  type="number">
<input
  [(ngModel)]="values[2]"
  (ngModelChange)="setChange()"
  type="number">
<input
  [(ngModel)]="values[3]"
  (ngModelChange)="setChange()"
  type="number">
<input
  [(ngModel)]="values[4]"
  (ngModelChange)="setChange()"
  type="number">

</div>
